.btn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: larger;
    background-color: #FEDA49;

}